.ct-padding-top{
  padding-top:50px;
}
.ct-background{
  background-color: #131d47;
}

.your_uuid{
  font-size: 20px;
  text-align: center;
  color: #3dc2ff;
}
.last_devices{
  font-size: 20px;
  text-align: center;
  color: #131d47;
}
.device_uuid{
  font-size: 16px;
  color: #3dc2ff;
}
.device_rssi{
  font-size: 12px;
  color: #F78EB6;
}
.device_time{
  font-size: 12px;
  color: #131d47;
}
