<ion-header>
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-md="6" size-lg="6" size-xs="12">
                <div *ngIf="this.myDevice">
                    <div>My Device: {{this.myDevice}}</div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size-md="6" size-lg="6" size-xs="12">
                <ion-button *ngIf="this.checkIfScanning() === false" (click)="startScan()">Start Scan</ion-button>
                <ion-button *ngIf="this.checkIfScanning() === true" (click)="stopScan()">Stop Scan</ion-button>
                <ion-button (click)="getAllDevices()">List Devices</ion-button>
                <ion-button (click)="cleanDevices()">Clean Devices</ion-button>
                <ion-button (click)="startAdvertisingPeripheral()">Start Advertising</ion-button>
                <ion-button (click)="startScan()">Start Scan</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size-md="6" size-lg="6" size-xs="12">
                <ion-list>
                    <ion-item *ngFor="let device of this.devices; let even = even" [color]="even? '' : 'light'"
                              lines="none">
                        <ion-label class="ion-text-wrap">
                            {{device.device}} / {{device.device_name}} / {{device.date_found}} /  {{device.time_found}}
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
